data
runs

*.pyc
.vscode
.cache
.clangd

.mise.toml

launch.json
autoslurm/
*.nsys-rep
*.pt
*.pth
wrapper.sh
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

.python-version
eval/
